<div class="card w-50 mx-auto">
  <div class="card-header d-flex justify-content-center">
    <h2>Editing Book</h2>
  </div>
  <div class="card-body">
    <%= render "form", book: @book %>
  </div>
</div>